// FOOTER
.section.footer 
  background-color: $grey-100
  +tablet
    margin-bottom: 5% !important
  .footer-elements
    display: flex
    align-items: space-between
    flex-wrap: wrap
  .footer-element
    flex: 1
    padding: 16px 32px 16px 0
  .social-media 
    display: flex
    flex-wrap: wrap
    +tablet
      flex-wrap: nowrap
  .social-media > a
    padding-top: 0.5rem
    padding-right: 2rem
    +widescreen
      padding-top: 0
