@import "~bulma/sass/utilities/initial-variables"
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap')
@import url("https://use.typekit.net/hig4obp.css")


//font-family: p22-mackinac-pro, serif;
//font-weight: 700;
//font-style: normal;

// Config vars
$white: #FFFFFF
$blue-900: #0A064A
$blue-500: #4CB4E7
$blue-300: #9EB4CD
$green-500: #62B55A
$gradient: linear-gradient(59.48deg, #009EE2 1.36%, #05A0DE 8.97%, #15A4D1 18.39%, #2EACBB 28.77%, #51B69E 39.85%, #7EC477 51.48%, #B6D549 63.56%, #F6E812 75.81%, #FCEA0D 76.96%)
$grey-100: #F7F8FA
$grey-200: #F7F8FA
$grey-400: #D5D5D5
$grey-600: #949598
$yellow: #FCEA0D

$primary: $blue-900
$primary-invert: $blue-300

// Typography
$family-sans-serif: 'DM Sans', sans-serif
$family-serif: p22-mackinac-pro, serif
$family-primary: $family-sans-serif
$family-secondary: $family-serif
$body-line-height: 1.3

$size-1: 100px
$size-2: 66px
$size-3: 42px
$size-4: 36px
$size-5: 20px
$size-6: 16px
$size-7: 14px

$fullhd: 1744px + (2 * $gap)

//Menu overrides
$navbar-item-color: $blue-900
$navbar-item-hover-color: $green-500 !important
$navbar-item-hover-background-color: $white
$navbar-item-active-color: $green-500
$navbar-item-active-background-color: $white
$navbar-label-color: $black

.navbar
  position: sticky
  top: 0

.button-primary
  cursor: pointer
  font-family: $family-serif
  font-weight: bold
  font-size: $size-6
  color: $primary
  display: inline-flex
  align-items: center
  background-color: $grey-100
  border: none
  padding: 10px
  outline-color: none
  .icon
    height: 30px
    width: 30px
    &:first-child:not(:last-child)
      margin-right: 10px  
  &:hover
    color: $white
    background-image: $gradient
    svg
      fill: $white
  &:focus
    &:not(:active)
      outline-color: $yellow !important
    &:active
      outline-color: transparent !important
  &:active
    box-shadow: inset 0px 3px 0px rgba(10, 6, 74, 0.5)

.button-secondary
  cursor: pointer
  font-family: $family-sans-serif
  font-weight: bold
  font-size: $size-7
  color: $primary
  display: inline-flex
  align-items: center
  background-color: transparent
  border: none
  padding: 0px
  outline-color: none
  &.is-white
    color: $white
    svg
      fill: $white
  &.is-grey
    color: $grey-600
    svg
      fill: $grey-600
  .icon
    height: 20px
    width: 20px
    &:first-child:not(:last-child)
      margin-right: 5px  
    &:last-child:not(:first-child)
      margin-left: 10px  
  &:hover
    color: $green-500
    svg
      fill: $green-500
  &:focus
    &:not(:active)
      outline-color: $yellow !important
    &:active
      outline-color: transparent !important
  
.icon-play 
  width: 25px
  height: 25px
  display: inline-block

@import "~bulma"
@import "./roadmap"
@import "./team"

.green-text
  color: $green-500
  
.blue-text
  color: $blue-900
  
.blue-300-text
  color: $blue-300

.grey-text
  color: $grey-600
  
.white-text
  color: #fff

.black-text
  color: #000
  
.intro 
  height: 470px
  position: relative
  padding-top: 0
  padding-bottom: 0
  +tablet
    height: 560px
  +fullhd
    height: 768px

.text-panel,
.video-panel
  width: 100%
  height: 100%
  overflow: hidden
  
.text-panel-wrapper
  position: absolute
  left: 0
  top: 0
  width: 100%
  height: 100%
  padding-top: 0
  padding-bottom: 0
  
.text-panel
  padding-top: 100px
  background-color: #F2F2F2
  clip-path: inset(0% 0% 0% 0%)
  overflow: hidden
  
.text-panel .text
  position: absolute
  left: 36px
  top: 240px
  +tablet
    left: 328px
    top: 96px
  +desktop
    left: 576px
  +fullhd
    left: 787px
  
.logo-container
  width: 240px
  height: 240px
  background-color: $blue-900
  display: flex
  align-items: center
  justify-content: center
  position: absolute
  left: 0
  top: 0
  z-index: 999
  +tablet
    width: 264px
    height: 432px
  +desktop
    width: 512px
    height: 584px
  +fullhd
    width: 723px
    height: 775px

#logo-photanol
  width: 50%
  margin-top: -10%
  +desktop
    width: 40%

// Mission
.mission .title
  //background: linear-gradient(30.91deg, #009EE2 1.36%, #05A0DE 8.97%, #15A4D1 18.39%, #2EACBB 28.77%, #51B69E 39.85%, #7EC477 51.48%, #B6D549 63.56%, #F6E812 75.81%, #FCEA0D 76.96%)
  background: linear-gradient(30.91deg, #009EE2 1%, #05A0DE 5%, #15A4D1 10%, #2EACBB 15%, #51B69E 20%, #7EC477 25%, #B6D549 30%, #F6E812 35%, #FCEA0D 40%, #009EE2 51%, #05A0DE 55%, #15A4D1 60%, #2EACBB 65%, #51B69E 70%, #7EC477 75%, #B6D549 80%, #F6E812 85%, #FCEA0D 90%)
  background-size: 250% 100%;
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  -webkit-animation: AnimationName 20s linear infinite
  
@keyframes AnimationName 
  0%
    background-position: 0% 0%
  100%
    background-position: 100% 0%

// Roadmap
.roadmap  
  padding-left: 0
  padding-right: 0
  
// Team
.team
  padding-left: 0
  padding-right: 0

.team .text,
.team .jobs
  margin-left: 407px
  +desktop
    margin-left: 632px
  +fullhd
    margin-left: 832px
  
.team .jobs
  max-width: 500px
  
// Partners
.partners .logos
  align-items: center
  flex-wrap: wrap
  
.partners .partner-logo
  flex-basis: 20%
  padding: 0 20px
  
.partners .side-image-column 
  display: flex
  border-left: 2px solid $grey-400
  align-items: center
  padding: 20px
  
.partners .side-image 
  flex: 1
  height:  180px

// Footer
.footer .footer-elements
  display: flex
  align-items: space-between
  flex-wrap: wrap

.footer .footer-element
  flex: 1
  padding: 16px

.footer .social-media 
  display: flex
  flex-wrap: no-wrap

.footer .social-media > a
  padding-right: 32px
  
// responsiveness
+tablet-only

+mobile

