@import "~bulma/sass/utilities/initial-variables"
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap')
@import url("https://use.typekit.net/hig4obp.css")


//font-family: p22-mackinac-pro, serif;
//font-weight: 700;
//font-style: normal;

// Config vars
$white: #FFFFFF
$blue-900: #0A064A
$blue-500: #4CB4E7
$blue-300: #9EB4CD
$green-500: #62B55A
$gradient: linear-gradient(59.48deg, #009EE2 1.36%, #05A0DE 8.97%, #15A4D1 18.39%, #2EACBB 28.77%, #51B69E 39.85%, #7EC477 51.48%, #B6D549 63.56%, #F6E812 75.81%, #FCEA0D 76.96%)
$grey-100: #F7F8FA
$grey-200: #F7F8FA
$grey-400: #D5D5D5
$grey-600: #949598
$yellow: #FCEA0D

$primary: $blue-900
$primary-invert: $blue-300
$scheme-invert: $blue-900
$link: $blue-500

// Typography
$family-sans-serif: 'DM Sans', sans-serif
$family-serif: p22-mackinac-pro, serif
$family-primary: $family-sans-serif
$family-secondary: $family-serif
$body-line-height: 137%

$size-1: 100px
$size-2: 66px
$size-3: 42px
$size-4: 36px
$size-5: 28px
$size-6: 20px
$size-7: 16px
$size-8: 14px

$fullhd: 1744px + (2 * $gap)
$link-hover: $green-500
$modal-content-width: 768px

//Menu overrides
$navbar-height: 5rem
$navbar-item-color: $blue-900
$navbar-item-hover-color: $green-500 !important
$navbar-item-hover-background-color: $white
$navbar-item-active-color: $green-500
$navbar-item-active-background-color: $white
$navbar-label-color: $black
$navbar-breakpoint: $tablet

$transition-duration: .3s

.navbar
  position: sticky !important
  top: 0
  
@import "~bulma"
@import "./roadmap"
@import "./team"

.green-text
  color: $green-500
  
.blue-text
  color: $blue-900
  
.blue-300-text
  color: $blue-300

.grey-text
  color: $grey-600
  
.white-text
  color: #fff

.black-text
  color: #000

.modal
  display: flex
  visibility: hidden
  .modal-background
    transition: all $transition-duration
    opacity: 0
  .modal-content
    transform: scale(0.7)
    opacity: 0
    transition: all $transition-duration
    &.is-full
      +tablet
        width: 80%
  &.is-active
    visibility: visible
    .modal-background
      opacity: 1
    .modal-content
      transform: scale(1)
      opacity: 1

.button-primary
  cursor: pointer
  font-family: $family-serif
  font-weight: bold
  font-size: $size-7
  color: $primary
  display: inline-flex
  align-items: center
  background-color: $grey-100
  border: none
  padding: 10px
  outline-color: none
  transition: all 0.3s $easing;
  .icon
    height: 30px
    width: 30px
    &:first-child:not(:last-child)
      margin-right: 10px  
  &:hover
    color: $white
    background-image: $gradient
    svg
      fill: $white
  &:focus
    &:not(:active)
      outline-color: $yellow !important
    &:active
      outline-color: transparent !important
  &:active
    box-shadow: inset 0px 3px 0px rgba(10, 6, 74, 0.5)

.button-secondary
  cursor: pointer
  font-family: $family-sans-serif
  font-weight: bold
  font-size: $size-7
  color: $primary
  display: inline-flex
  align-items: center
  background-color: transparent
  border: none
  padding: 0px
  outline-color: none
  transition: all 0.3s $easing;
  &.is-white
    color: $white
    svg
      fill: $white
  &.is-grey
    color: $grey-600
    svg
      fill: $grey-600
  .icon
    height: 20px
    width: 20px
    &:first-child:not(:last-child)
      margin-right: 5px  
    &:last-child:not(:first-child)
      margin-left: 10px  
  &:hover
    color: $green-500
    svg
      fill: $green-500
  &:focus
    &:not(:active)
      outline-color: $yellow !important
    &:active
      outline-color: transparent !important

// CURSOR
.cursor
  width: 70px
  height: 70px
  background-color: $white
  border-radius: 50%
  position: absolute
  transform: translate(-50%, -50%)
  pointer-events: none
  transition: all 0.2s ease
  transition-property: background, transform, opacity
  transform-origin: 0% 0%
  z-index: 999
  svg
    fill: $green-500
    width: 25px
    position: absolute
    transform: translate(-50%, -50%)
    left: 50%
    top: 25%
  span
    color: $green-500
    font-size: 12px
    font-weight: bold
    position: absolute
    transform: translate(-50%, -50%)
    left: 50%
    bottom: 2%

// LOGO
.logo-container
  width: 240px
  height: 240px
  background-color: $blue-900
  display: flex
  align-items: center
  justify-content: center
  position: absolute
  left: 0
  top: 0
  z-index: 30
  +tablet
    width: 264px
    height: 432px
  +desktop
    width: 512px
    height: 584px
  +fullhd
    width: 723px
    height: 775px
  #logo-photanol
    width: 40%
    margin-top: -10%
    +tablet 
      width: 50%
    +desktop
      width: 40%

// INTRO
.intro 
  height: 470px
  position: relative
  padding-top: 0
  padding-bottom: 0
  +tablet
    height: 560px
  +fullhd
    height: 768px
  .text-panel
    height: calc(100% - 40px) !important
    background-color: #F2F2F2
    clip-path: inset(0% 0% 0% 0%)
    margin-right: 35px
    +tablet
      margin-left: 64px
      margin-right: 64px
    .text
      position: absolute
      left: 36px
      top: 240px
      +tablet
        left: 328px
        top: 96px
      +desktop
        left: 576px
      +fullhd
        left: 787px
  .video-panel
    margin-right: 35px
    +mobile
      display: block
    +tablet
      margin-left: 64px
      margin-right: 64px
  .video-panel video
    object-fit: cover
  .text-panel-wrapper
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    padding-top: 0
    padding-bottom: 0
    


// MISSION
.mission .title
  background: linear-gradient(45deg, #4CB4E7 0%, #62B55A 12.5%, #FCEA0D 25%, #62B55A 37.5%, #4CB4E7 50%, #62B55A 62.5%, #FCEA0D 75%, #62B55A 87.5%, #4CB4E7 100%)
  background-size: 400% 100%;
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  -webkit-animation: AnimationName 20s linear infinite
  
@keyframes AnimationName 
  0%
    background-position: 0% 0%
  100%
    background-position: 200% 0%

// ROADMAP
.roadmap
  overflow: hidden
  
// TECHNOLOGY
.technology 
  .technology-text
    column-count: 1
    +tablet
      column-count: 2
      column-gap: 32px
    p
      margin-bottom: 1em
      line-height: 137%
    
// SLIDESHOW
.slideshow
  width: 100%
  .image
    position: absolute !important
    width: 33.4%

// TEAM
.team
  padding-left: 0
  padding-right: 0
  padding-bottom: 0
  margin-top: 100px
  .text
    margin-left: 1.5rem
    margin-right: 1.5rem
    +tablet
      margin-left: 430px
    +desktop
      margin-left: 660px
    +fullhd
      margin-left: 860px

//  JOBS
.jobs
  margin-left: 1.5rem
  margin-right: 1.5rem
  +tablet
    margin-left: 430px
    max-width: 500px
  +desktop
    margin-left: 660px
  +fullhd
    margin-left: 860px
  .modal
    .box
      border-radius: 0
      +tablet
        padding: 5rem

.vacancies .tile.is-parent
  padding: 0
  
.vacancy-body
  h4
    margin-top: 3em
    margin-bottom: 1em
    font-weight: bold;
  p
    margin-top: 1em
    margin-bottom: 1em
    line-height: 137%
  ul
    list-style: none
    margin-top: 1em
    margin-bottom: 1em
    padding-left: 30px
    li
      padding: 10px 0
    li:before
      content: url('../img/list.svg')
      width: 16px
      height: 16px
      padding-right: 10px
      margin-left: -26px
  
// PARTNERS
.partners 
  .logos
    align-items: center
    flex-wrap: wrap
  .partner-logo
    flex-basis: 50%
    padding: 0 20px
    text-align: center
    +tablet
      flex-basis: 20%
    img 

  .side-image-column 
    display: flex
    align-items: center
    padding-top: 50px
    border-top: 2px solid $grey-400
    +tablet 
      border-top: none
      border-left: 2px solid $grey-400
      padding: 30px
  .side-image 
    flex: 1
    height:  180px

// FOOTER
.footer 
  margin: 1rem
  +tablet
    margin: 3rem
  .footer-elements
    display: flex
    align-items: space-between
    flex-wrap: wrap
  .footer-element
    flex: 1
    padding: 16px
  .social-media 
    display: flex
    flex-wrap: wrap
    +tablet
      flex-wrap: nowrap
  .social-media > a
    padding-right: 32px

