.timeline
  width: 100vw
  display: block
  height: 450px
  position: relative
  margin-left: -4rem
  +mobile
    height: 600px
    margin-top: 3rem
    margin-left: -2rem
  .line
    width: 100%
    position: absolute
    height: 3px
    background-color: $white
    top: 265px
    +mobile
      top: 150px
  .items
    display: flex
    justify-content: center
    height: 500px
    position: absolute
    pointer-events: none
    margin-left: 50px
    +mobile
      margin-left: 0
  .item
    display: flex
    align-items: center
    +mobile
      justify-content: center
  .item-elements 
    display: flex
    height: 100%
    flex-direction: column
    align-items: center
    justify-content: center
    +mobile
      justify-content: flex-start
    .item-element-top
      height: 100px
      display: flex
      +mobile
        min-height: 100px
      .item-title
        font-size: $size-6
        line-height: 127%
        max-width: 180px
        margin-bottom: 2rem
        align-self: flex-end
        +mobile
          margin-bottom: 1rem
    .item-element-center
      position: relative
      align-items: center
      .item-icon,
      .item-image 
        width: 100px
        height: 100px
        border-radius: 50%
        border: 4px solid #fff
        background-color: $blue-900
      .item-image 
        position: absolute
        left: 0
        top: 0
        opacity: 0
    .item-year  
      font-size: $size-6
      margin-top: 2rem
      align-self: flex-start
      +mobile
        margin-top: 1rem
  .item-text
    width: 300px
    background-color: $blue-900
    padding-left: 40px
    padding-right: 20px
    display: none
    pointer-events: none
    +mobile
      padding-left: 0
      padding-right: 0
    p
      margin-top: 1rem
      margin-bottom: 1rem