// Team
.employees
  margin-top: 50px
  width: 100%
  display: block
  height: 500px
  position: relative
  
.employees .items-wrapper
  position: relative
  overflow: hidden
  
.employees .items
  display: flex
  height: 470px

.employees .item
  width: 382px
  max-width: 382px
  display: flex

.employees .item-content
  display: flex
  flex-direction: column
  background-color: #0A064A
  padding: 32px
  margin: 16px
  overflow: hidden
  
.employees .item p
  flex-grow: 1
  pointer-events: none
  
.employees .item button
  right: 32px
  align-self: flex-end
  
.employees .employee-image
  position: absolute !important
  width: 650px
  right: 60%
  top: -125px
  
