// FOOTER
.footer 
  margin: 1rem
  padding: 4rem 1.5rem
  background-color: $grey-100
  +tablet
    margin: 3rem
  .footer-elements
    display: flex
    align-items: space-between
    flex-wrap: wrap
  .footer-element
    flex: 1
    padding: 16px 32px 16px 0
  .social-media 
    display: flex
    flex-wrap: wrap
    +tablet
      flex-wrap: nowrap
  .social-media > a
    padding-right: 32px